.col-sm-12
  %h1
    = product.title
  %p
    Description:
    %h4
      = product.description
  %p
    Price:
    %h4
      = product.price
  %p
    Author:
    %h4
      = link_to "#{product.user.firstname} #{product.user.lastname}", user_path(id: product.user.id)
  %p
    Category:
    %h4
      = product.category.name

  .col-sm-10.col-sm-offset-1
    %h4 Reviews
    = render reviews

  .col-sm-8.col-sm-offset-2
    %h5 Add new review
    = render 'reviews/form'

.pull-right
  - if current_user && product.user == current_user
    = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-warning'
  = link_to 'Back', category_products_path, class: 'btn btn-default'
