%div{ :style => "border: 1px solid #CCCCCC; padding: 5px;"}
  %p= review.content
  %p
    %b= review.rating
    %em= link_to "#{review.user.firstname} #{review.user.lastname}", user_path(id: review.user.id)
