!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .col-sm-10.col-sm-offset-1
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
      %nav.navbar.navbar-default
        .navbar-header
          %a.navbar-brand{:href => "/"}
            = image_tag "netguru.png"
            Netguru Workshops April
        %p.navbar-text.navbar-right
          %ul.nav.navbar-nav.navbar-right
            -if current_user
              %li
                = link_to "Log out", destroy_user_session_url, :method => :delete
            - else
              %li
                = link_to "Register", new_user_registration_path
              %li
                = link_to "Log in", new_user_session_path
      .container-fluid
        .row
          .col-sm-12
            = yield
      .footer
        Mateusz Stanielewicz
